{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'usersapp/css/login.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="center-from">
        <div class="login-card">
            <h2>Авторизация</h2>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                {{ form.as_p }}
                <p>
                    <button type="submit">Войти</button>
                </p>
            </form>
                <button type="submit">Регистрация</button>
            <a href="{% url 'usersapp:register' %}">
            </a>
        </div>
    </div>
{% endblock %}
