{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'recipeapp/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{{ title }}{% endblock %}


 <a href= "{% url'news_detail' news_id=2 type_id=4% }"> Enter News 2 Details Page</a>    #




{% block content %}
    <div class="center2 recipes">
        <h1>{{ heading }}</h1>
        <section class="random-recipes-items">
            {% for recipe in recipes %}
                <a href="{% url 'recipe' recipe_id=recipe.pk %}">
                    <div class="recipe">
                        <h3>{{ recipe.title }}</h3>
                        {% if recipe.image and recipe.image != 'False' %}
                            <img class="displayed" src="{{ recipe.image.url }}">
                        {% endif %}
                        {{ recipe.description | truncatewords:15 }}
                    </div>
                </a>
            {% endfor %}
        </section>

    </div>
{% endblock %}