{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'recipeapp/css/recipe.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Рецепт{% endblock %}

{% block content %}
    <div class="center2 recipe_item">
        <h1>{{ recipe.title }}</h1>
        <div class="recipe_items_top">
            <div>
                {% if recipe.image and recipe.image != 'False' %}
                <img src="{{ recipe.image.url }}" width="350">
                {% endif %}
            </div>
            <div class="recipe_text">
                <p><strong>Описание:</strong> {{ recipe.description }}</p>
                <p><strong>Категория: </strong> {{ recipe_categories.title }}</p>
                <p><strong>Время приготовления:</strong> {{ recipe.cooking_time }} мин</p>
                <p><strong>Автор:</strong> {{ recipe.author }}</p>
                <p><strong>Дата добавления:</strong> {{ recipe.date_addition }}</p>
            </div>

        </div>
        <div class="recipe_items_bottom">
            <p>{{ recipe.cooking_steps }}</p>
        </div>
        <button><a href="{% url 'recipe_update' recipe_id=recipe.pk %}">Изменить</a></button>
    </div>




{% endblock %}