{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'recipeapp/css/recipe_form.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="center-form">

    <form class="form " method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>{{ title }}</h1>
        <div class="text-form" >
            <strong><label for="{{ form.title.id_for_label }}">Название</label></strong>
            <p>{{ form.title }}</p>
        </div>
        <div class="text-form" >
            <p><strong><label class="" for="{{ form.description.id_for_label }}">Описание</label></strong></p>
            <p>{{ form.description }}</p>
        </div>
        <div>
            <p><strong><label class="" for="{{ form.author.id_for_label }}">Категория </label></strong>{{ form.category }}</p>
        </div>
        <div>
            <p><strong><label class="" for="{{ form.cooking_time.id_for_label }}">Время приготовления</label></strong> {{ form.cooking_time }} мин</p>
        </div>
        <div class="text-form" >
            <p><strong><label class="" for="{{ form.cooking_steps.id_for_label }}">Шаги приготовления</label></strong></p>
            <p>{{ form.cooking_steps }} </p>
        </div>
            <p><strong><label class="" for="{{ form.image.id_for_label }}">Фото</label></strong>{{ form.image }}</p>
        <div>
            <input type="submit" value='{{ input_value }}'>
        </div>
    </form>
</section>


{% endblock %}