{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'recipeapp/css/search_recipe.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="center-search-form">
        <div class="test">
            <form class="search-form" method = "post" enctype="multipart/form-data">
            {% csrf_token %}
                <h2>Поиск</h2>
            <div>
                {{ form.title }}
            </div>
            <input type="submit" value= Найти">
            </form>
        </div>
    </div>

{% endblock %}
