{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Сайт{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'recipeapp/css/base.css' %}">

    {% block style %}
    {% endblock %}
</head>
<body>
    <div class="header">
        <header class="center header-items">
            <a class="header_link" href="{% url 'index' %}">
                <div class="header-items-left">
                <img class="header_icons_left" src="{% static 'recipeapp/images/cooking.svg' %}" alt="cooking">
                <p>Кушайте много Кушайте вкусно</p>
                </div>
                </a>

            <a class="header_link" href= "{% url 'all_recipes' %}">Показать все рецепты</a>

            <a class="header_link" href= "{% url 'add_recipe' %}">Добавить рецепт</a>
            <a class="header_link" href= "{% url 'search_recipes' %}">Найти рецепт</a>
            <a class="header_link" href= "{% url 'categories' %}">Категории</a>
            <div>
            {% if user.is_authenticated %}
                {{ user.username }} | <a href="{% url 'usersapp:logout' %}">
                    <img class="header_icons_rigth" src="{% static 'recipeapp/images/logout.svg' %}" alt="logout">
                </a>
            {% else %}
                <a href="{% url 'usersapp:login' %}"><img class="header_icons_rigth" src="{% static 'recipeapp/images/login.svg' %}" alt="login"></a>
            {% endif %}
            </div>
        </header>
    </div>

    <div class="content">
    {% block content %}
        <p>Скоро тут появится текст...</p>
    {% endblock %}
    </div>
    <div class="footer">
        <div class="center footer_items">
            <p>2024 ©</p>
            <p>Ссылка на whatsapp</p>
            <p>Ссылка на телегу</p>
        </div>
    </div>
</body>
</html>