.center-from {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.delete-card {
    padding: 40px;
    --box-shadow: 0 16px 24px 2px rgba(33, 37, 41, .04), 0 6px 30px 5px rgba(33, 37, 41, .08), 0 8px 10px -5px rgba(33, 37, 41, .3);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.button {
    width: 50px;
}