.recipe_item {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.recipe_items_top {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.recipe_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe_items_bottom {
    padding-top: 20px;
}

.buttons {
padding-top: 25px;
    display:flex;
    gap: 10px;
}

.button {
    width: 70px;
}

@media screen and (max-width: 1439px) {

}

@media screen and (max-width: 767px) {
    .recipe_items_top {
        flex-direction: column;
    }
}

